import React from 'react';
import './{{dashCase name}}.container.styles.less';

const {{pascalCase name}}: React.FC = () => {

return (
    <div className='{{dashCase name}}-container'>

    </div>
);
};

export default {{pascalCase name}};
