import React from 'react';
import './{{dashCase name}}-header.styles.less';

const {{pascalCase name}}Header: React.FC = () => {

return (
    <div className='{{dashCase name}}-header'>

    </div>
);
};

export default {{pascalCase name}}Header;